@page "/friday"
<h3>Friday</h3>

@if (IsFriday)
{
    <div class="video-responsive">
        <iframe src="https://www.youtube.com/embed/1AnG04qnLqI" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
}
else
{
    <h3>Come back on a Friday!</h3>
}

@code {
    private bool IsFriday => DateTime.Now.DayOfWeek == DayOfWeek.Friday;
}