@page "/friday"
@using Aegis.Web.Components

<PageTitle>Friday</PageTitle>

@if (IsFriday)
{
    <div class="video-responsive">
        <iframe src="https://www.youtube.com/embed/1TewCPi92ro" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
}
else
{
    <h3 class="text-center">Come back on a Friday!</h3>
    <CountdownToFriday />
}

@code {
    private bool IsFriday => DateTime.Now.DayOfWeek == DayOfWeek.Friday;
}