@page "/resume"
@layout NoNav

<PageTitle>Resume</PageTitle>

<div class="container px-4 py-5 bg-dark bg-opacity-75">
    <div class="text-center">
        <img class="mb-4 rounded-circle" src="assets/pictures/profile.jpg" alt="Abdullah Alshibily" style="width: 150px; height: 150px;">
        <h1>
            Abdullah Alshibily
        </h1>
        <p class="lead">
            Software Engineer | .NET | Full-Stack
        </p>
        <p class="lead">
            Bridging Business and Technology
        </p>
        <p>
            <a href="https://www.linkedin.com/in/abdullah-alshibily/" class="btn btn-primary" target="_blank" @onclick="LinkedIn">
                LinkedIn Profile
            </a>
        </p>
    </div>

    <section class="my-5" id="experience">
        <h2 class="mb-4 text-center">
            Experience
        </h2>

        <div class="row mb-5">
            <div class="col-lg-12">
                <h4>
                    Technical Product Manager
                </h4>
                <p class="text-secondary">
                    Luminos Labs (Remote) | Sep 2023 - Present
                </p>
                <p>
                    At Luminos Labs, in my current role as Technical Product Manager, I seamlessly bridge the gap between technology and business needs, fostering a collaborative environment between clients and our development team. My focus on aligning projects with client objectives through in-depth analysis has driven innovation, enhancing our platforms and operations. I pride myself on maintaining clear communication for stakeholder alignment and managing quality and performance by leveraging cutting-edge tools and technologies to inform strategic decisions.
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-12">
                <h4>
                    Software Engineer - Tech Lead
                </h4>
                <p class="text-secondary">
                    Luminos Labs (Remote) | Aug 2022 - Sep 2023
                </p>
                <p>
                    As a Software Engineer - Tech Lead at Luminos Labs, I specialized in backend development, particularly in integrating third-party APIs and developing digital commerce solutions. Under the mentorship of the Head of Solution Architecture, I played a pivotal role in steering projects from their nascent stages to successful completion. My responsibilities included documenting requirements, testing APIs, developing proof-of-concepts to minimize risks, and enhancing team, client, and vendor communication. My toolkit, filled with C#/.NET Core, ASP.NET MVC solutions, SQL database management, alongside Git and CI/CD practices, laid a solid foundation for my evolution into leadership positions within the tech landscape.
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-12">
                <h4>
                    Software Engineer
                </h4>
                <p class="text-secondary">
                    Apprv - Omaha NE (Hybrid) | May 2021 - Feb 2022
                </p>
                <p>
                    In my role as a Mid-Level Full Stack Developer at Apprv, I was instrumental in improving a cloud application that over 17,000 vendors rely on for streamlining their evaluation processes. My work, which spanned across both backend and frontend developments, focused on the design, construction, and deployment of features utilizing ASP.NET MVC, Entity Framework, C#, and MS SQL. I have a knack for converting complex requirements into intuitive solutions, and my extensive knowledge in the Microsoft technology stack, complemented by front-end technologies like HTML, CSS, and JavaScript, greatly enhanced the application's performance and usability.
                </p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-12">
                <h4>
                    Full-Stack Software Developer
                </h4>
                <p class="text-secondary">
                    Maxus 33 - Omaha NE (Hybrid) | Jul 2019 - Jan 2021
                </p>
                <p>
                    My tenure at Maxus 33 as a Full-Stack Software Developer allowed me to be part of a nimble team, developing technical solutions across multiple projects. I used a comprehensive suite of technologies, including C#, .NET, Razor + Blazor, C++, and JavaScript, contributing significantly to both web and mobile applications. My work encompassed everything from innovating software solutions to developing mobile apps for iOS and Android using Xamarin, demonstrating my versatility and deep technical expertise across a broad spectrum of programming languages and frameworks.
                </p>
            </div>
        </div>
    </section>

    <section class="my-5" id="skills">
        <h2 class="mb-4 text-center">
            Skills
        </h2>

        <div class="skills-category">
            <h3>
                Programming Languages
            </h3>
            <ul>
                <li>
                    C#
                </li>
                <li>
                    JavaScript
                </li>
                <li>
                    TypeScript
                </li>
                <li>
                    Python
                </li>
                <li>
                    HTML
                </li>
                <li>
                    CSS
                </li>
                <li>
                    C++
                </li>
            </ul>
        </div>

        <div class="skills-category">
            <h3>
                Libraries/Frameworks
            </h3>
            <ul>
                <li>
                    .NET MVC, Razor, Blazor
                </li>
                <li>
                    .NET Framework
                </li>
                <li>
                    Node.js
                </li>
                <li>
                    .NET
                </li>
            </ul>
        </div>

        <div class="skills-category">
            <h3>
                Tools/Platforms
            </h3>
            <ul>
                <li>
                    SSMS, LinqPad, NotePad++
                </li>
                <li>
                    Office365, Teams, Docker
                </li>
                <li>
                    Azure Cloud, GitHub, Git
                </li>
                <li>
                    Optimizely, REST API, Google Analytics
                </li>
                <li>
                    Google Tag Manager, Iterable, Azure DevOps
                </li>
                <li>
                    Visual Studio 2022, Visual Studio Code
                </li>
                <li>
                    Monday.com, Teams, Notion
                </li>
            </ul>
        </div>

        <div class="skills-category">
            <h3>
                Databases
            </h3>
            <ul>
                <li>
                    SQL Azure, SQL, MS SQL, MongoDB
                </li>
            </ul>
        </div>
    </section>

    <section class="my-5" id="education">
        <h2 class="mb-4 text-center">
            Education
        </h2>
        <div class="education">
            <p>
                University Of Nebraska at Omaha - Computer Science Bachelors
            </p>
            <p class="text-secondary">
                Omaha, NE | 2012 - 2018
            </p>
            <p class="px-4">
                As a Student Researcher at UNO, I prototyped a virtual reality (VR) game intended to serve as a substitute for traditional physical therapy sessions. In this role, I actively engaged in meetings and presentations, providing stakeholders with weekly progress updates. Moreover, I played a pivotal role in updating legacy code for the Xbox Kinect camera, ensuring its compatibility with the latest software and hardware iterations. Additionally, I contributed to the design, development, and implementation phases of both software and hardware components, demonstrating a comprehensive skill set in project execution and collaboration.
            </p>
        </div>
    </section>

    <section class="my-5 certifications" id="certifications">
        <h2 class="mb-4 text-center">
            Certifications
        </h2>
        <div class="certification">
            <p class="certification-name">
                Znode Product Certification - Amla Commerce Academy
            </p>
            <p class="certification-detail px-4">
                Znode is an enterprise-level, .NET-based e-commerce platform notable for its high customizability, scalability, and multi-store management capabilities. Designed to accommodate complex e-commerce needs, it features a comprehensive API for easy integration, robust support for both B2B and B2C operations, and advanced tools for managing catalogs, products, and pricing. Its multi-tenancy support enables businesses to efficiently manage multiple e-commerce sites, making it ideal for enterprises seeking a flexible and growth-friendly platform.
            </p>
        </div>
    </section>
</div>

@code{
    private async Task LinkedIn()
    {
        await GoogleTagManager.PushAsync(new { @event = "linkedin_button_clicked" });
    }
}