@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-8.0" target="_blank">Built in Blazor</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Aegis.Web.Components.ToastNotification/>
<Aegis.Web.Components.ParticleCanvas/>
